.signup-form {
  @media (max-width: 575.98px) {
    padding: $spacer * 4 30px !important;
  }
  @media (max-width: 575.98px) {
    padding: $spacer * 3 $spacer * 3 !important ;
  }
}
.birthDayInput span.bg-transparent.text-primary.border-left-0.input-group-text {
  display: none;
}
.birthDayInput input.border-right-0.form-control{
  border-right:  1px solid #ced4da !important;

}